# editorconfig.org
# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
indent_style = tab
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.{html,js,jsx,ts,tsx,css,scss,sass}]
charset = utf-8

# Indentation override for all JS under lib directory
[**/*.{js,ts,tsx}]
indent_style = space
indent_size = 4

# Matches the exact files either package.json or .travis.yml
[{gulpfile.js,gulpfile.babel.js,package.json,config.yml,.eslintrc,.eslintrc.json,.babelrc,nodemon.json,webpack.config.js,config-default.yml,tsconfig.json}]
indent_size = 2
indent_style = space
insert_final_newline = false

[config/*.{js,json,yml}]
indent_size = 2
indent_style = space
insert_final_newline = false

# scss files
[*.scss]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
